<!--
  Generated template for the LocalizeMePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{WeatherApiResponse?.name}} - {{WeatherApiResponse?.sys.country}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="changeBgImage()" *ngIf="nb_images > 1">
        <ion-icon name="images"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only >
        <ion-icon name="star-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="getInfos()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [style.background]="nb_images? 'url(' + bgImage + ')' : '#3BAEDA'">
  <div class="date">
    <p text-center>{{today}}
      {{bgImageIndex}}/{{nb_images}}
    </p>
  </div>
  <ion-list class="bg-grey">
    <ion-item>
      <ion-icon *ngIf="WeatherApiResponse" item-start>
        <img src='https://openweathermap.org/img/w/{{WeatherApiResponse?.weather[0].icon}}.png' class="icon-weather icon-image"/>
      </ion-icon>
        {{WeatherApiResponse?.weather[0].main}}
      <ion-note item-end>
        {{WeatherApiResponse?.weather[0].description}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="arrow-round-up" item-start class="icon-weather"></ion-icon>
      Max. temp.
      <ion-note item-end>
        {{convert_temp(WeatherApiResponse?.main.temp_max,'c')}}°C
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="arrow-round-down" item-start class="icon-weather"></ion-icon>
      Min. temp.
      <ion-note item-end>
        {{convert_temp(WeatherApiResponse?.main.temp_min,'c')}}°C
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="water" item-start class="icon-weather"></ion-icon>
      Humidity
      <ion-note item-end>
        {{WeatherApiResponse?.main.humidity}}%
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="water" item-start class="icon-weather"></ion-icon>
      Pressure
      <ion-note item-end>
        {{WeatherApiResponse?.main.pressure}}%
      </ion-note>
    </ion-item>
  </ion-list>
  <div class="temp">
    {{convert_temp(WeatherApiResponse?.main.temp,'c')}}°C
  </div>
</ion-content>
